body {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3vh;
  width: auto;
  /* text-align: center; */
  background-color: #242424;
}

:root {
  --space: 0px;
  --blur: 0px;
  --color: #000;
  --scale: 1;
  --radius: 0%;
}

.heroimg {
  z-index: -2;
  width: 50%;
  margin: 5vh auto 5vh auto;
  padding: var(--space);
  background: var(--color);
  filter: blur(var(--blur));
  transform: scale(var(--scale));
  border-radius: var(--radius);
  overflow: hidden;
}

.js {
  color: var(--color);
}
#outputImage {
  /* offset: 100%; */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.outimage {
  width: 100%;
  height: 100%;
}
